*,
*::before,
*::after {
  box-sizing: border-box;
}
button {
  width: 200px;
  height: 50px;
  padding: auto;
}
#text {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
#subtext {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
}

#initial {
  width: 100%;
}
#submit,
#start {
  font-size: 25px;
}
#answer1,
#answer2,
#answer3,
#answer4 {
  font-size: 17px;
}
form {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 30px;
  margin: auto;
  text-align: center;
}
.container {
  align-items: center;
  justify-content: center;
}
#highScorePg {
  border: none;
  background-color: white;
}
#highScorePg:hover{
  background-color: teal;
}
#highScorePg:active{
  border: block;
  background-color: teal;
}
.HighscoresInitial {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
  margin: auto;
}
.HighscoresScore {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
  margin-top: 10px;
  margin: auto;
}
#answerCheck {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 25px;
  font-weight: bolder;
 }
